<div>
    <h2 data-translate="cmsApp.targetMetric.home.title">Target Metrics</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="target-metric.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cmsApp.targetMetric.home.createLabel">
                        Create new Target Metric
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="cmsApp.targetMetric.name">Name</span></th>
                    <th><span data-translate="cmsApp.targetMetric.department">Department</span></th>
                    <th><span data-translate="cmsApp.targetMetric.metric">Metric</span></th>
                    <th><span data-translate="cmsApp.targetMetric.cost">Cost</span></th>
                    <th><span data-translate="cmsApp.targetMetric.costType">Cost Type</span></th>
                    <th><span data-translate="cmsApp.targetMetric.lastUpdate">Last Update</span></th>
                    <th><span data-translate="cmsApp.targetMetric.status">Status</span></th>
                    <th><span data-translate="cmsApp.targetMetric.group">Group</span></th>
                    <th><span data-translate="cmsApp.targetMetric.target">Target</span></th>
                    <th><span data-translate="cmsApp.targetMetric.distributionMonth">Distribution Month</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="targetMetric in vm.targetMetrics track by targetMetric.id">
                    <td><a ui-sref="target-metric-detail({id:targetMetric.id})">{{targetMetric.id}}</a></td>
                    <td>{{targetMetric.name}}</td>
                    <td>{{targetMetric.department}}</td>
                    <td>{{targetMetric.metric}}</td>
                    <td>{{targetMetric.cost}}</td>
                    <td>{{targetMetric.costType}}</td>
                    <td>{{targetMetric.lastUpdate}}</td>
                    <td>{{targetMetric.status}}</td>
                    <td>
                        <a ui-sref="group-detail({id:targetMetric.group.id})">{{targetMetric.group.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="target-detail({id:targetMetric.target.id})">{{targetMetric.target.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="distribution-month-detail({id:targetMetric.distributionMonth.id})">{{targetMetric.distributionMonth.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="target-metric-detail({id:targetMetric.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="target-metric.edit({id:targetMetric.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="target-metric.delete({id:targetMetric.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
