
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTargetMetricLabel" data-translate="cmsApp.targetMetric.home.createOrEditLabel">Create or edit a Target Metric</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.targetMetric.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.targetMetric.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.targetMetric.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.targetMetric.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.targetMetric.department" for="field_department">Department</label>
            <input type="text" class="form-control" name="department" id="field_department"
                    ng-model="vm.targetMetric.department"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.targetMetric.metric" for="field_metric">Metric</label>
            <input type="number" class="form-control" name="metric" id="field_metric"
                    ng-model="vm.targetMetric.metric"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.targetMetric.cost" for="field_cost">Cost</label>
            <input type="number" class="form-control" name="cost" id="field_cost"
                    ng-model="vm.targetMetric.cost"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.targetMetric.costType" for="field_costType">Cost Type</label>
            <input type="text" class="form-control" name="costType" id="field_costType"
                    ng-model="vm.targetMetric.costType"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.targetMetric.lastUpdate" for="field_lastUpdate">Last Update</label>
            <input type="number" class="form-control" name="lastUpdate" id="field_lastUpdate"
                    ng-model="vm.targetMetric.lastUpdate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.targetMetric.status" for="field_status">Status</label>
                <input type="checkbox" name="status" id="field_status"
                          ng-model="vm.targetMetric.status"/>
        </div>

        <div class="form-group">
            <label data-translate="cmsApp.targetMetric.group" for="field_group">Group</label>
            <select class="form-control" id="field_group" name="group" ng-model="vm.targetMetric.group" ng-options="group as group.id for group in vm.groups track by group.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cmsApp.targetMetric.target" for="field_target">Target</label>
            <select class="form-control" id="field_target" name="target" ng-model="vm.targetMetric.target" ng-options="target as target.id for target in vm.targets track by target.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cmsApp.targetMetric.distributionMonth" for="field_distributionMonth">Distribution Month</label>
            <select class="form-control" id="field_distributionMonth" name="distributionMonth" ng-model="vm.targetMetric.distributionMonth" ng-options="distributionMonth as distributionMonth.id for distributionMonth in vm.distributionmonths track by distributionMonth.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
