
<div>
    <h2><span data-translate="cmsApp.targetMetric.detail.title">Target Metric</span> {{vm.targetMetric.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="cmsApp.targetMetric.name">Name</span></dt>
        <dd>
            <span>{{vm.targetMetric.name}}</span>
        </dd>
        <dt><span data-translate="cmsApp.targetMetric.department">Department</span></dt>
        <dd>
            <span>{{vm.targetMetric.department}}</span>
        </dd>
        <dt><span data-translate="cmsApp.targetMetric.metric">Metric</span></dt>
        <dd>
            <span>{{vm.targetMetric.metric}}</span>
        </dd>
        <dt><span data-translate="cmsApp.targetMetric.cost">Cost</span></dt>
        <dd>
            <span>{{vm.targetMetric.cost}}</span>
        </dd>
        <dt><span data-translate="cmsApp.targetMetric.costType">Cost Type</span></dt>
        <dd>
            <span>{{vm.targetMetric.costType}}</span>
        </dd>
        <dt><span data-translate="cmsApp.targetMetric.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.targetMetric.lastUpdate}}</span>
        </dd>
        <dt><span data-translate="cmsApp.targetMetric.status">Status</span></dt>
        <dd>
            <span>{{vm.targetMetric.status}}</span>
        </dd>
        <dt><span data-translate="cmsApp.targetMetric.group">Group</span></dt>
        <dd>
            <a ui-sref="group-detail({id:vm.targetMetric.group.id})">{{vm.targetMetric.group.id}}</a>
        </dd>
        <dt><span data-translate="cmsApp.targetMetric.target">Target</span></dt>
        <dd>
            <a ui-sref="target-detail({id:vm.targetMetric.target.id})">{{vm.targetMetric.target.id}}</a>
        </dd>
        <dt><span data-translate="cmsApp.targetMetric.distributionMonth">Distribution Month</span></dt>
        <dd>
            <a ui-sref="distribution-month-detail({id:vm.targetMetric.distributionMonth.id})">{{vm.targetMetric.distributionMonth.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="target-metric-detail.edit({id:vm.targetMetric.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
