
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPartnerLabel" data-translate="cmsApp.partner.home.createOrEditLabel">Create or edit a Partner</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.partner.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.partner.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.partner.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.partner.createdBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.partner.createdDate" for="field_createdDate">Created Date</label>
            <input type="text" class="form-control" name="createdDate" id="field_createdDate"
                    ng-model="vm.partner.createdDate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.partner.deleted" for="field_deleted">Deleted</label>
                <input type="checkbox" name="deleted" id="field_deleted"
                          ng-model="vm.partner.deleted"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.partner.status" for="field_status">Status</label>
                <input type="checkbox" name="status" id="field_status"
                          ng-model="vm.partner.status"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.partner.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                    ng-model="vm.partner.updatedBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.partner.updatedDate" for="field_updatedDate">Updated Date</label>
            <input type="text" class="form-control" name="updatedDate" id="field_updatedDate"
                    ng-model="vm.partner.updatedDate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.partner.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.partner.code"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.partner.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.partner.name"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
