
<div>
    <h2><span data-translate="cmsApp.partner.detail.title">Partner</span> {{vm.partner.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="cmsApp.partner.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.partner.createdBy}}</span>
        </dd>
        <dt><span data-translate="cmsApp.partner.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.partner.createdDate}}</span>
        </dd>
        <dt><span data-translate="cmsApp.partner.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.partner.deleted}}</span>
        </dd>
        <dt><span data-translate="cmsApp.partner.status">Status</span></dt>
        <dd>
            <span>{{vm.partner.status}}</span>
        </dd>
        <dt><span data-translate="cmsApp.partner.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.partner.updatedBy}}</span>
        </dd>
        <dt><span data-translate="cmsApp.partner.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.partner.updatedDate}}</span>
        </dd>
        <dt><span data-translate="cmsApp.partner.code">Code</span></dt>
        <dd>
            <span>{{vm.partner.code}}</span>
        </dd>
        <dt><span data-translate="cmsApp.partner.name">Name</span></dt>
        <dd>
            <span>{{vm.partner.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="partner-detail.edit({id:vm.partner.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
