<div>
    <h2 data-translate="cmsApp.partner.home.title">Partners</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="partner.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cmsApp.partner.home.createLabel">
                        Create new Partner
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="cmsApp.partner.createdBy">Created By</span></th>
                    <th><span data-translate="cmsApp.partner.createdDate">Created Date</span></th>
                    <th><span data-translate="cmsApp.partner.deleted">Deleted</span></th>
                    <th><span data-translate="cmsApp.partner.status">Status</span></th>
                    <th><span data-translate="cmsApp.partner.updatedBy">Updated By</span></th>
                    <th><span data-translate="cmsApp.partner.updatedDate">Updated Date</span></th>
                    <th><span data-translate="cmsApp.partner.code">Code</span></th>
                    <th><span data-translate="cmsApp.partner.name">Name</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="partner in vm.partners track by partner.id">
                    <td><a ui-sref="partner-detail({id:partner.id})">{{partner.id}}</a></td>
                    <td>{{partner.createdBy}}</td>
                    <td>{{partner.createdDate}}</td>
                    <td>{{partner.deleted}}</td>
                    <td>{{partner.status}}</td>
                    <td>{{partner.updatedBy}}</td>
                    <td>{{partner.updatedDate}}</td>
                    <td>{{partner.code}}</td>
                    <td>{{partner.name}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="partner-detail({id:partner.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="partner.edit({id:partner.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="partner.delete({id:partner.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
