
<div>
    <h2><span data-translate="cmsApp.group.detail.title">Group</span> {{vm.group.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="cmsApp.group.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.group.createdBy}}</span>
        </dd>
        <dt><span data-translate="cmsApp.group.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.group.createdDate}}</span>
        </dd>
        <dt><span data-translate="cmsApp.group.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.group.deleted}}</span>
        </dd>
        <dt><span data-translate="cmsApp.group.status">Status</span></dt>
        <dd>
            <span>{{vm.group.status}}</span>
        </dd>
        <dt><span data-translate="cmsApp.group.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.group.updatedBy}}</span>
        </dd>
        <dt><span data-translate="cmsApp.group.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.group.updatedDate}}</span>
        </dd>
        <dt><span data-translate="cmsApp.group.code">Code</span></dt>
        <dd>
            <span>{{vm.group.code}}</span>
        </dd>
        <dt><span data-translate="cmsApp.group.name">Name</span></dt>
        <dd>
            <span>{{vm.group.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="group-detail.edit({id:vm.group.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
