<div>
    <h2 data-translate="cmsApp.group.home.title">Groups</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="group.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cmsApp.group.home.createLabel">
                        Create new Group
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="cmsApp.group.createdBy">Created By</span></th>
                    <th><span data-translate="cmsApp.group.createdDate">Created Date</span></th>
                    <th><span data-translate="cmsApp.group.deleted">Deleted</span></th>
                    <th><span data-translate="cmsApp.group.status">Status</span></th>
                    <th><span data-translate="cmsApp.group.updatedBy">Updated By</span></th>
                    <th><span data-translate="cmsApp.group.updatedDate">Updated Date</span></th>
                    <th><span data-translate="cmsApp.group.code">Code</span></th>
                    <th><span data-translate="cmsApp.group.name">Name</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in vm.groups track by group.id">
                    <td><a ui-sref="group-detail({id:group.id})">{{group.id}}</a></td>
                    <td>{{group.createdBy}}</td>
                    <td>{{group.createdDate}}</td>
                    <td>{{group.deleted}}</td>
                    <td>{{group.status}}</td>
                    <td>{{group.updatedBy}}</td>
                    <td>{{group.updatedDate}}</td>
                    <td>{{group.code}}</td>
                    <td>{{group.name}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="group-detail({id:group.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="group.edit({id:group.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="group.delete({id:group.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
