
<div>
    <h2><span data-translate="cmsApp.cmsLog.detail.title">Cms Log</span> {{vm.cmsLog.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="cmsApp.cmsLog.action">Action</span></dt>
        <dd>
            <span>{{vm.cmsLog.action}}</span>
        </dd>
        <dt><span data-translate="cmsApp.cmsLog.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.cmsLog.lastUpdate}}</span>
        </dd>
        <dt><span data-translate="cmsApp.cmsLog.user">User</span></dt>
        <dd>
            <span ng-repeat="user in vm.cmsLog.users">
                {{user.email}}{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="cms-log-detail.edit({id:vm.cmsLog.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
