
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCmsLogLabel" data-translate="cmsApp.cmsLog.home.createOrEditLabel">Create or edit a Cms Log</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.cmsLog.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cmsLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.cmsLog.action" for="field_action">Action</label>
            <input type="text" class="form-control" name="action" id="field_action"
                    ng-model="vm.cmsLog.action"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.cmsLog.lastUpdate" for="field_lastUpdate">Last Update</label>
            <input type="number" class="form-control" name="lastUpdate" id="field_lastUpdate"
                    ng-model="vm.cmsLog.lastUpdate"
                    />
        </div>

        <div class="form-group">
            <label data-translate="cmsApp.cmsLog.user" for="field_user">User</label>
            <select class="form-control" id="field_user" multiple name="user" ng-model="vm.cmsLog.users" ng-options="user as user.email for user in vm.users track by user.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
