<div>
    <h2 data-translate="cmsApp.cmsLog.home.title">Cms Logs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cms-log.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cmsApp.cmsLog.home.createLabel">
                        Create new Cms Log
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="cmsApp.cmsLog.action">Action</span></th>
                    <th><span data-translate="cmsApp.cmsLog.lastUpdate">Last Update</span></th>
                    <th><span data-translate="cmsApp.cmsLog.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cmsLog in vm.cmsLogs track by cmsLog.id">
                    <td><a ui-sref="cms-log-detail({id:cmsLog.id})">{{cmsLog.id}}</a></td>
                    <td>{{cmsLog.action}}</td>
                    <td>{{cmsLog.lastUpdate}}</td>
                    <td>
                        <span ng-repeat="user in cmsLog.users">
                            {{user.email}}{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cms-log-detail({id:cmsLog.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cms-log.edit({id:cmsLog.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cms-log.delete({id:cmsLog.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
