<div>
    <h2 data-translate="cmsApp.distributionYear.home.title">Distribution Years</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="distribution-year.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cmsApp.distributionYear.home.createLabel">
                        Create new Distribution Year
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="cmsApp.distributionYear.name">Name</span></th>
                    <th><span data-translate="cmsApp.distributionYear.lastUpdate">Last Update</span></th>
                    <th><span data-translate="cmsApp.distributionYear.status">Status</span></th>
                    <th><span data-translate="cmsApp.distributionYear.target">Target</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="distributionYear in vm.distributionYears track by distributionYear.id">
                    <td><a ui-sref="distribution-year-detail({id:distributionYear.id})">{{distributionYear.id}}</a></td>
                    <td>{{distributionYear.name}}</td>
                    <td>{{distributionYear.lastUpdate}}</td>
                    <td>{{distributionYear.status}}</td>
                    <td>
                        <a ui-sref="target-detail({id:distributionYear.target.id})">{{distributionYear.target.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="distribution-year-detail({id:distributionYear.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="distribution-year.edit({id:distributionYear.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="distribution-year.delete({id:distributionYear.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
