
<div>
    <h2><span data-translate="cmsApp.distributionYear.detail.title">Distribution Year</span> {{vm.distributionYear.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="cmsApp.distributionYear.name">Name</span></dt>
        <dd>
            <span>{{vm.distributionYear.name}}</span>
        </dd>
        <dt><span data-translate="cmsApp.distributionYear.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.distributionYear.lastUpdate}}</span>
        </dd>
        <dt><span data-translate="cmsApp.distributionYear.status">Status</span></dt>
        <dd>
            <span>{{vm.distributionYear.status}}</span>
        </dd>
        <dt><span data-translate="cmsApp.distributionYear.target">Target</span></dt>
        <dd>
            <a ui-sref="target-detail({id:vm.distributionYear.target.id})">{{vm.distributionYear.target.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="distribution-year-detail.edit({id:vm.distributionYear.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
