<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cms</title>
    <meta name="description" content="">
    <meta name="google" value="notranslate">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css content/css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">

    <!-- endinject -->
    <!-- endbuild -->
    <!-- build:css content/css/main.css -->
    <link rel="stylesheet" href="content/css/main.css">
    <!-- endbuild -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="manifest" href="manifest.webapp" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/admin-style.min.css" class="admin-main-stylesheet" id="main-admin-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/admin-part2.min.css" class="admin-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="assets/css/admin-skins.min.css" />
    <link rel="stylesheet" href="assets/css/admin-rtl.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/admin-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="assets/js/admin-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="cmsApp" ng-strict-di>
    <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ui-view="navbar" ng-cloak>

    </div>
    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <div id="sidebar" class="sidebar responsive ace-save-state">
            <script type="text/javascript">
                try{ace.settings.loadState('sidebar')}catch(e){}
            </script>

            <ul class="nav nav-list">
                <li class="">
                    <a href="index.html">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> DASHBOARD </span>
                    </a>
                </li>

                <li class="">
                    <a href="dieu-hanh.html">
                        <i class="menu-icon glyphicon glyphicon-signal"></i>
                        <span class="menu-text"> ĐIỀU HÀNH </span>
                    </a>
                </li>

                <li class="active open">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon glyphicon glyphicon-screenshot"></i>
                        <span class="menu-text"> MỤC TIÊU </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref="target-metric">
                                <i class="menu-icon fa fa-caret-right"></i>
                                CHỈ SỐ MỤC TIÊU
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="target">
                                <i class="menu-icon fa fa-caret-right"></i>
                                MỤC TIÊU TỔNG
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="distribution-year" ng-click="vm.collapseNavbar()">
                                <i class="menu-icon fa fa-caret-right"></i>
                                PHÂN BỔ NĂM
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="distribution-month" ng-click="vm.collapseNavbar()">
                                <i class="menu-icon fa fa-caret-right"></i>
                                PHÂN BỔ THÁNG
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="kpi.html">
                        <i class="menu-icon glyphicon glyphicon-list-alt"></i>
                        <span class="menu-text"> KPI NHÂN SỰ </span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-users"></i>
                        <span class="menu-text"> TÀI KHOẢN </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref="group" ng-click="vm.collapseNavbar()">
                                <i class="menu-icon fa fa-caret-right"></i>
                                NHÓM TÀI KHOẢN
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <i class="menu-icon fa fa-caret-right"></i>
                                TÀI KHOẢN
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="partner" ng-click="vm.collapseNavbar()">
                        <i class="menu-icon glyphicon glyphicon-briefcase"></i>
                        <span class="menu-text">ĐỐI TÁC</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="cms-log" ng-click="vm.collapseNavbar()">
                        <i class="menu-icon fa fa-file-o"></i>
                        <span class="menu-text">LOGS</span>
                    </a>
                </li>


            </ul><!-- /.nav-list -->

            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
                   data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>
        <div class="main-content">
            <div class="main-content-inner">

                <div class="page-content well" ui-view="content"
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div style="margin-top: 11px; margin-bottom: 10px;">
                                        <div class="input-group" style="height: 30px;">
                                            <input type="text" class="search-query" style="width: 300px; height: 30px;" placeholder="Nhập để Tìm mục tiêu tổng" />
                                            <button type="button" class="btn btn-sm" style="margin-top: 0px; margin-top: -2px; height: 30px;">
                                                <span class="ace-icon fa fa-search bigger-110"></span>
                                                Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                    <div>


                                        <div style="" >
                                            <table border="1" style="border: 1px solid; width: 100%; margin-bottom: 30px;">
                                                <tr>
                                                    <td style="width: 100%; padding-left: 5px; padding-right: 5px; padding-top: 9px;">
                                                        <div style="float:left; width: 20%; font-size: 15px;  color: #009E11;">Danh sách Mục tiêu tổng</div>
                                                        <a href="#" >
                                                            <div style="float:right; text-align: right; width: 15%;">
                                                                <p style="color: black; font-size: 15px; float:right; text-align: right;">Làm mới</p>
                                                                <i style="color: #009E11; padding-right: 5px; font-size: 20px;float:right; text-align: right;" class="ace-icon glyphicon glyphicon-refresh"></i>
                                                            </div>
                                                        </a>

                                                        <a href="#" id="add-group-account">
                                                            <div style="float:right; text-align: right; width: 15%;">
                                                                <p style="color: black; font-size: 15px; float:right; text-align: right;">Thêm mới</p>
                                                                <i style="color: #009E11; padding-right: 5px; font-size: 20px;float:right; text-align: right;" class="ace-icon glyphicon glyphicon-plus"></i>
                                                            </div>
                                                        </a>

                                                        <div style="float:right; text-align: right; width: 5%; padding-top: -6px; padding-bottom: 5px;">
                                                            <select id="form-field-select-1">
                                                                <option value="">20</option>
                                                                <option value="AL">50</option>
                                                                <option value="AK">100</option>
                                                                <option value="AZ">All</option>
                                                            </select>
                                                        </div>
                                                        <div style="float:right; text-align: right; width: 25%; padding-right: 5px; padding-top: 5px;">Tổng số 100 bản </div>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>


                                        <div class="tabbable" style="margin-top:-30px;">
                                            <table id="dynamic-table" class="table table-bordered table-hover" style="margin-top:-10px;">
                                                <thead>
                                                <tr>
                                                    <th style="width:4%;">STT</th>
                                                    <th>Tên mục tiêu</th>
                                                    <th style="width:15%;">
                                                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                                        Ngày cập nhật
                                                    </th>
                                                    <th style="width:15%;">
                                                        Trạng thái
                                                    </th>

                                                    <th style="width:10%;">Hành động</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr>
                                                    <td class="center">
                                                        1
                                                    </td>
                                                    <td class="center">
                                                        Mục tiêu 1
                                                    </td>

                                                    <td style="text-align: right;">
                                                        20/04/2017 10:30:00
                                                    </td>
                                                    <td class="center">
                                                        <a href="#" title="Click để Không cho phép Hoạt động">
                                                            <i class="ace-icon glyphicon glyphicon-ok"></i>
                                                        </a>
                                                    </td>
                                                    <td class="center" >
                                                        <div class="hidden-sm hidden-xs action-buttons">
                                                            <a class="green" href="#" id="dialog1">
                                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                            </a>

                                                            <a class="red" href="#" id="id-btn-dialog2">
                                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                            </a>
                                                        </div>

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="center">
                                                        2
                                                    </td>
                                                    <td class="center">
                                                        Mục tiêu 2
                                                    </td>
                                                    <td style="text-align: right;">
                                                        20/04/2017 10:31:00
                                                    </td>
                                                    <td class="center">
                                                        <a href="#" title="Click để cho phép Hoạt động trở lại">
                                                            <i style="color: red;" class="ace-icon glyphicon glyphicon-remove"></i>
                                                        </a>
                                                    </td>
                                                    <td class="center" >
                                                        <div class="hidden-sm hidden-xs action-buttons">
                                                            <a class="green" href="#">
                                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                            </a>

                                                            <a class="red" href="#">
                                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                            </a>
                                                        </div>

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!-- pagging -->
                                            <div style="height: 38px; text-align: center; width: 100%;">
                                                <p style="text-align: center;">Trang 1</p>
                                            </div>
                                        </div>
                                    </div><!-- /.col -->

                                    <!-- #dialog- -->
                                    <div id="dialog-add" class="hide">
                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <label class="hide"> Thông báo lỗi</label>

                                                <form>
                                                    <fieldset>

                                                        <label class="block clearfix">
                                                            Tên Mục tiêu: <font color="red"> (*) </font>
                                                            <span class="block input-icon input-icon-right">

																	<input type="text" class="form-control" required="required" placeholder="Nhập Tên Mục tiêu" />

																</span>
                                                        </label>

                                                        <label class="block clearfix">
                                                            Trạng thái:
                                                            <span class="block input-icon input-icon-right">
																	<select id="elect-doitac" style="width: 100%;">
																		<option value="1">Hoạt đông</option>
																		<option value="0">Không Hoạt đông</option>
																	</select>
																</span>
                                                        </label>

                                                    </fieldset>
                                                </form>
                                            </div>


                                        </div><!-- /.widget-body -->
                                    </div><!-- #dialog-add -->

                                    <div id="dialog-message" class="hide">
                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <label class="hide"> Thông báo lỗi</label>

                                                <form>
                                                    <fieldset>

                                                        <label class="block clearfix">
                                                            Tên Mục tiêu: <font color="red"> (*) </font>
                                                            <span class="block input-icon input-icon-right">

																	<input type="text" class="form-control" required="required" value="Mục tiêu 1" placeholder="Nhập Tên Mục tiêu" />

																</span>
                                                        </label>

                                                        <label class="block clearfix">
                                                            Trạng thái:
                                                            <span class="block input-icon input-icon-right">
																	<select id="elect-doitac" style="width: 100%;">
																		<option value="1" selected="selected">Hoạt đông</option>
																		<option value="0">Không Hoạt đông</option>
																	</select>
																</span>
                                                        </label>


                                                    </fieldset>
                                                </form>
                                            </div>


                                        </div><!-- /.widget-body -->
                                    </div><!-- #dialog-message -->

                                    <div id="dialog-confirm" class="hide">
                                        <div class="alert alert-info bigger-110">
                                            Dữ liệu về thông tin bản ghi này sẽ mất đi và không thể khôi phục
                                        </div>

                                        <div class="space-6"></div>

                                        <p class="bigger-110 bolder center grey">
                                            <i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
                                            Bạn chắc chắn muốn xóa?
                                        </p>
                                    </div><!-- #dialog-confirm -->


                                </div><!-- /.row -->


                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.page-content -->
                </div>
            </div><!-- /.main-content -->

            <div class="footer">
                <div class="footer-inner">
                    <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Hệ thống quản lý</span>
							&copy; 2017
						</span>

                        &nbsp; &nbsp;
                        <span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
                    </div>
                </div>
            </div>

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div>
        <noscript>
        <h1>You must enable javascript to view this page.</h1>
    </noscript>
    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script src="assets/js/jquery-2.1.4.min.js"></script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->

    <!--[if lte IE 8]>
    <script src="assets/js/excanvas.min.js"></script>
    <![endif]-->
    <script src="assets/js/jquery-ui.custom.min.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="assets/js/jquery.easypiechart.min.js"></script>
    <script src="assets/js/jquery.sparkline.index.min.js"></script>
    <script src="assets/js/jquery.flot.min.js"></script>
    <script src="assets/js/jquery.flot.pie.min.js"></script>
    <script src="assets/js/jquery.flot.resize.min.js"></script>

    <!-- ace scripts -->
    <script src="assets/js/admin-elements.min.js"></script>
    <script src="assets/js/admin-style.min.js"></script>

    <!-- inline scripts related to this page -->

    <!-- uncomment this for adding service worker
        <script>
            if ('serviceWorker' in navigator) {
                 navigator.serviceWorker
                    .register('./sw.js')
                    .then(function() { console.log('Service Worker Registered'); });
            }
        </script>
    -->
    <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->

    <!-- build:js app/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/messageformat/messageformat.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/arrive/src/arrive.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
    <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js app/app.js  -->
    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <script src="app/services/user/user.service.js"></script>
    <script src="app/services/profiles/profile.service.js"></script>
    <script src="app/services/profiles/page-ribbon.directive.js"></script>
    <script src="app/services/auth/sessions.service.js"></script>
    <script src="app/services/auth/register.service.js"></script>
    <script src="app/services/auth/principal.service.js"></script>
    <script src="app/services/auth/password-reset-init.service.js"></script>
    <script src="app/services/auth/password-reset-finish.service.js"></script>
    <script src="app/services/auth/password.service.js"></script>
    <script src="app/services/auth/has-authority.directive.js"></script>
    <script src="app/services/auth/has-any-authority.directive.js"></script>
    <script src="app/services/auth/auth.session.service.js"></script>
    <script src="app/services/auth/auth.service.js"></script>
    <script src="app/services/auth/activate.service.js"></script>
    <script src="app/services/auth/account.service.js"></script>
    <script src="app/layouts/navbar/navbar.controller.js"></script>
    <script src="app/layouts/navbar/active-menu.directive.js"></script>
    <script src="app/layouts/error/error.state.js"></script>
    <script src="app/home/home.state.js"></script>
    <script src="app/home/home.controller.js"></script>
    <script src="app/entities/target-metric/target-metric-dialog.controller.js"></script>
    <script src="app/entities/target-metric/target-metric-detail.controller.js"></script>
    <script src="app/entities/target-metric/target-metric-delete-dialog.controller.js"></script>
    <script src="app/entities/target-metric/target-metric.state.js"></script>
    <script src="app/entities/target-metric/target-metric.service.js"></script>
    <script src="app/entities/target-metric/target-metric.controller.js"></script>
    <script src="app/entities/target/target-dialog.controller.js"></script>
    <script src="app/entities/target/target-detail.controller.js"></script>
    <script src="app/entities/target/target-delete-dialog.controller.js"></script>
    <script src="app/entities/target/target.state.js"></script>
    <script src="app/entities/target/target.service.js"></script>
    <script src="app/entities/target/target.controller.js"></script>
    <script src="app/entities/partner/partner-dialog.controller.js"></script>
    <script src="app/entities/partner/partner-detail.controller.js"></script>
    <script src="app/entities/partner/partner-delete-dialog.controller.js"></script>
    <script src="app/entities/partner/partner.state.js"></script>
    <script src="app/entities/partner/partner.service.js"></script>
    <script src="app/entities/partner/partner.controller.js"></script>
    <script src="app/entities/group/group-dialog.controller.js"></script>
    <script src="app/entities/group/group-detail.controller.js"></script>
    <script src="app/entities/group/group-delete-dialog.controller.js"></script>
    <script src="app/entities/group/group.state.js"></script>
    <script src="app/entities/group/group.service.js"></script>
    <script src="app/entities/group/group.controller.js"></script>
    <script src="app/entities/entity.state.js"></script>
    <script src="app/entities/distribution-year/distribution-year-dialog.controller.js"></script>
    <script src="app/entities/distribution-year/distribution-year-detail.controller.js"></script>
    <script src="app/entities/distribution-year/distribution-year-delete-dialog.controller.js"></script>
    <script src="app/entities/distribution-year/distribution-year.state.js"></script>
    <script src="app/entities/distribution-year/distribution-year.service.js"></script>
    <script src="app/entities/distribution-year/distribution-year.controller.js"></script>
    <script src="app/entities/distribution-month/distribution-month-dialog.controller.js"></script>
    <script src="app/entities/distribution-month/distribution-month-detail.controller.js"></script>
    <script src="app/entities/distribution-month/distribution-month-delete-dialog.controller.js"></script>
    <script src="app/entities/distribution-month/distribution-month.state.js"></script>
    <script src="app/entities/distribution-month/distribution-month.service.js"></script>
    <script src="app/entities/distribution-month/distribution-month.controller.js"></script>
    <script src="app/entities/cms-log/cms-log-dialog.controller.js"></script>
    <script src="app/entities/cms-log/cms-log-detail.controller.js"></script>
    <script src="app/entities/cms-log/cms-log-delete-dialog.controller.js"></script>
    <script src="app/entities/cms-log/cms-log.state.js"></script>
    <script src="app/entities/cms-log/cms-log.service.js"></script>
    <script src="app/entities/cms-log/cms-log.controller.js"></script>
    <script src="app/components/util/truncate-words.filter.js"></script>
    <script src="app/components/util/truncate-characters.filter.js"></script>
    <script src="app/components/util/sort-by.directive.js"></script>
    <script src="app/components/util/sort.directive.js"></script>
    <script src="app/components/util/parse-links.service.js"></script>
    <script src="app/components/util/pagination-util.service.js"></script>
    <script src="app/components/util/jhi-item-count.directive.js"></script>
    <script src="app/components/util/date-util.service.js"></script>
    <script src="app/components/util/data-util.service.js"></script>
    <script src="app/components/util/capitalize.filter.js"></script>
    <script src="app/components/util/base64.service.js"></script>
    <script src="app/components/login/login.service.js"></script>
    <script src="app/components/login/login.controller.js"></script>
    <script src="app/components/language/language.service.js"></script>
    <script src="app/components/language/language.filter.js"></script>
    <script src="app/components/language/language.controller.js"></script>
    <script src="app/components/language/language.constants.js"></script>
    <script src="app/components/form/show-validation.directive.js"></script>
    <script src="app/components/form/pagination.constants.js"></script>
    <script src="app/components/form/minbytes.directive.js"></script>
    <script src="app/components/form/maxbytes.directive.js"></script>
    <script src="app/components/alert/alert-error.directive.js"></script>
    <script src="app/components/alert/alert.service.js"></script>
    <script src="app/components/alert/alert.directive.js"></script>
    <script src="app/blocks/interceptor/notification.interceptor.js"></script>
    <script src="app/blocks/interceptor/errorhandler.interceptor.js"></script>
    <script src="app/blocks/interceptor/auth-expired.interceptor.js"></script>
    <script src="app/blocks/handlers/translation.handler.js"></script>
    <script src="app/blocks/handlers/state.handler.js"></script>
    <script src="app/blocks/config/uib-pagination.config.js"></script>
    <script src="app/blocks/config/uib-pager.config.js"></script>
    <script src="app/blocks/config/translation-storage.provider.js"></script>
    <script src="app/blocks/config/translation.config.js"></script>
    <script src="app/blocks/config/localstorage.config.js"></script>
    <script src="app/blocks/config/http.config.js"></script>
    <script src="app/blocks/config/compile.config.js"></script>
    <script src="app/blocks/config/bootstrap-material.config.js"></script>
    <script src="app/blocks/config/alert.config.js"></script>
    <script src="app/app.state.js"></script>
    <script src="app/app.constants.js"></script>
    <script src="app/admin/user-management/user-management-dialog.controller.js"></script>
    <script src="app/admin/user-management/user-management-detail.controller.js"></script>
    <script src="app/admin/user-management/user-management-delete-dialog.controller.js"></script>
    <script src="app/admin/user-management/user-management.state.js"></script>
    <script src="app/admin/user-management/user-management.controller.js"></script>
    <script src="app/admin/metrics/metrics.state.js"></script>
    <script src="app/admin/metrics/metrics.service.js"></script>
    <script src="app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="app/admin/metrics/metrics.controller.js"></script>
    <script src="app/admin/logs/logs.state.js"></script>
    <script src="app/admin/logs/logs.service.js"></script>
    <script src="app/admin/logs/logs.controller.js"></script>
    <script src="app/admin/health/health.state.js"></script>
    <script src="app/admin/health/health.service.js"></script>
    <script src="app/admin/health/health.modal.controller.js"></script>
    <script src="app/admin/health/health.controller.js"></script>
    <script src="app/admin/docs/docs.state.js"></script>
    <script src="app/admin/configuration/configuration.state.js"></script>
    <script src="app/admin/configuration/configuration.service.js"></script>
    <script src="app/admin/configuration/configuration.controller.js"></script>
    <script src="app/admin/audits/audits.state.js"></script>
    <script src="app/admin/audits/audits.service.js"></script>
    <script src="app/admin/audits/audits.controller.js"></script>
    <script src="app/admin/admin.state.js"></script>
    <script src="app/account/settings/settings.state.js"></script>
    <script src="app/account/settings/settings.controller.js"></script>
    <script src="app/account/sessions/sessions.state.js"></script>
    <script src="app/account/sessions/sessions.controller.js"></script>
    <script src="app/account/reset/request/reset.request.state.js"></script>
    <script src="app/account/reset/request/reset.request.controller.js"></script>
    <script src="app/account/reset/finish/reset.finish.state.js"></script>
    <script src="app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="app/account/register/register.state.js"></script>
    <script src="app/account/register/register.controller.js"></script>
    <script src="app/account/password/password-strength-bar.directive.js"></script>
    <script src="app/account/password/password.state.js"></script>
    <script src="app/account/password/password.controller.js"></script>
    <script src="app/account/activate/activate.state.js"></script>
    <script src="app/account/activate/activate.controller.js"></script>
    <script src="app/account/account.state.js"></script>
    <!-- endinject -->
    <!-- endbuild -->

</body>
</html>
