
<div>
    <h2><span data-translate="cmsApp.distributionMonth.detail.title">Distribution Month</span> {{vm.distributionMonth.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="cmsApp.distributionMonth.name">Name</span></dt>
        <dd>
            <span>{{vm.distributionMonth.name}}</span>
        </dd>
        <dt><span data-translate="cmsApp.distributionMonth.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.distributionMonth.lastUpdate}}</span>
        </dd>
        <dt><span data-translate="cmsApp.distributionMonth.status">Status</span></dt>
        <dd>
            <span>{{vm.distributionMonth.status}}</span>
        </dd>
        <dt><span data-translate="cmsApp.distributionMonth.distributionYear">Distribution Year</span></dt>
        <dd>
            <a ui-sref="distribution-year-detail({id:vm.distributionMonth.distributionYear.id})">{{vm.distributionMonth.distributionYear.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="distribution-month-detail.edit({id:vm.distributionMonth.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
