
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDistributionMonthLabel" data-translate="cmsApp.distributionMonth.home.createOrEditLabel">Create or edit a Distribution Month</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.distributionMonth.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.distributionMonth.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.distributionMonth.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.distributionMonth.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.distributionMonth.lastUpdate" for="field_lastUpdate">Last Update</label>
            <input type="number" class="form-control" name="lastUpdate" id="field_lastUpdate"
                    ng-model="vm.distributionMonth.lastUpdate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cmsApp.distributionMonth.status" for="field_status">Status</label>
                <input type="checkbox" name="status" id="field_status"
                          ng-model="vm.distributionMonth.status"/>
        </div>

        <div class="form-group">
            <label data-translate="cmsApp.distributionMonth.distributionYear" for="field_distributionYear">Distribution Year</label>
            <select class="form-control" id="field_distributionYear" name="distributionYear" ng-model="vm.distributionMonth.distributionYear" ng-options="distributionYear as distributionYear.id for distributionYear in vm.distributionyears track by distributionYear.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
