<div>
    <h2 data-translate="cmsApp.distributionMonth.home.title">Distribution Months</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="distribution-month.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cmsApp.distributionMonth.home.createLabel">
                        Create new Distribution Month
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="cmsApp.distributionMonth.name">Name</span></th>
                    <th><span data-translate="cmsApp.distributionMonth.lastUpdate">Last Update</span></th>
                    <th><span data-translate="cmsApp.distributionMonth.status">Status</span></th>
                    <th><span data-translate="cmsApp.distributionMonth.distributionYear">Distribution Year</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="distributionMonth in vm.distributionMonths track by distributionMonth.id">
                    <td><a ui-sref="distribution-month-detail({id:distributionMonth.id})">{{distributionMonth.id}}</a></td>
                    <td>{{distributionMonth.name}}</td>
                    <td>{{distributionMonth.lastUpdate}}</td>
                    <td>{{distributionMonth.status}}</td>
                    <td>
                        <a ui-sref="distribution-year-detail({id:distributionMonth.distributionYear.id})">{{distributionMonth.distributionYear.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="distribution-month-detail({id:distributionMonth.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="distribution-month.edit({id:distributionMonth.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="distribution-month.delete({id:distributionMonth.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
